/* Estilos gerais */
body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1e2a3a;
    color: white;
    padding: 30px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
    border-top: 2px solid #1e2a3a;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

nav ul li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #1e2a3a;
    transition: color 0.3s;
}

nav a:hover {
    color: #336699;
}

main {
    padding: 40px;
}

footer {
    background-color: #1e2a3a;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Estilos específicos para cada página */
.home {
    background-color: #f9f9f9;
}

.alunos {
    background-color: #ffd699;
}

.professores {
    background-color: #a3d699;
}

.administracao {
    background-color: #d699a3;
}

.visitantes {
    background-color: #d6a3d6;
}
